*{
    box-sizing: border-box;
}
@font-face {
    font-family:mtavruli ;
    src: url(fonts/bpg_nino_mtavruli_normal.ttf);
}
@font-face {
    font-family:arial;
    src: url(fonts/bpg_arial_2009.ttf);
}
a{
    text-decoration: none;
}


.col-lg-9{
    text-align: right;
}
.first-nav{
    background-color: #40433e8c;
    width: 100%;
    position: absolute;
    z-index: 3;
    height: 32px;
}

.fonty{
    font-size: 17px;
    font-weight: bold;
    font-family: mtavruli;
    margin-top: 6.5px;
}
.second-fonty{
    font-size:14px;
    margin: 8px 0 0 0;
}
.second-fonty a{
    margin: 0 0 0 20px;
}
nav a{
    color: #fff;
}
.carousel-item{
    height: 585px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.rect{
    height: 730px;
}
.second-nav{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 33px;
    z-index: 1;
    background-color: #fff;
}
.logoped img{
    height: 43px;
    margin: 23px 0 0 0;
}

.circle-logo a{
    font-size: 17px;
    font-weight:bold;
    font-family: mtavruli;
    color: #6b6b6b; 
    display: inline-block;
    margin: 30px 0 0 8px;
}
/* .circle-logo img{
    margin: 0 0 0 35px;
} */
.circle-logo{
    text-align: right;
}

.second-nav a{
    color: #6b6b6b;
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1100px;
    }    
}
.onto{
    display: flex;
    flex-wrap: wrap;
    height: 730px;
    color: #fff;
    justify-content: flex-start;
    align-items: center;
}
.top{
    font-family: mtavruli;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    line-height: 19px;
    margin: 0 0 32px 0;
}
.bot{
    font-family: arial;
    font-size: 17px;
    line-height: 19px;
    color: #fff;
    padding: 0 200px 0 0;
    margin: 0 0 50px 0;
}
.linky{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-family: mtavruli;
    line-height: 19px;
    background-color: #e23848;
    padding: 17px 35px;
}
.copyright{
    height: 150px;
    background-color: #f0f2ea;
}
.space{
    justify-content: space-between;
}
.lab{
    width: 166px;
    height: 88px;
    margin-top: 24px;
    margin-bottom: -40px;
    background-color: #fff;
    border:1px solid #d2d2d2;
}
.last-p{
    font-size: 11px;
    color: #828282;
    font-weight: bold;
    font-family: "Arial";
}
.last-par{
    font-size: 11px;
    color: #828282;
    font-weight: bold;
    font-family: mtavruli;
}
.left{
    margin-top:72px;
    padding: 0;
    height: 22px;
}
.rela{
    position:relative;
    top:-6px;
}
.right{
    margin-top:73px;
    text-align: right;
    padding: 0;
    height: 22px;
}

.paste-1{
    width: 48px;
    height: 46px;
    margin-top:10px;
}   
.paste-2{
    width: 43px;
    height: 42.5px;
    margin-top:10px;
    
}
.paste-3{
    width: 41px;
    height: 40px;
    margin-top:10px;
}
.paste-4{
    width: 42.5px;
    height: 40px;
    margin-top:10px;
    
}
.paste-5{
    width: 40px;
    height: 40.5px;
    margin-top:10px;
   
}
.stretch{
    padding: 15px 0;
}
#down{
    border: none;
    display: inline-block;
    padding: 0;
    margin: 0;

}